<h1>Admin login</h1>


<%= label :email, :email %>
<%= email_field :email, :email %>

<%= label :password, :password %>
<%= password_field :password, :password %>




<p>Admin will login through here and go to 
<%= link_to "Admin control", admin_control_path %></p>

